
# Ignore environment files
.env

# Ignore node_modules (if using Node.js)
node_modules/

# Ignore Python virtual environments
venv/
__pycache__/

# Ignore Google Cloud Service Account Credentials
backend/composite-area-451712-u7-d2eef9c0ce4c.json
